@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  font-named-instance: 'Regular';
  src: url(/fonts/TitilliumWeb-Regular.ttf);
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'TitilliumWeb';
    font-weight: 500;
  }
}
